body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

#u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:963px;
    height:103px;
    overflow:hidden;
}

#pd1u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:963px;
    height:103px;
    
}

.u1_normal {
    background-image: url('../Header_-_logged_in_files/u1_normal.png');
}

.u1_container {
    position:absolute;
    left:0px;
    top:0px;
    width:960px;
    height:100px;
}

#u1_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:966px;
    height:106px;
}

.u2 {
    position:absolute;
    left:2px;
    top:42px;
    width:956px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../Header_-_logged_in_files/Go_to_home_page_u3_normal.png');
}

.u3_container {
    position:absolute;
    left:10px;
    top:10px;
    width:180px;
    height:80px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:86px;
}

.u4 {
    position:absolute;
    left:2px;
    top:32px;
    width:176px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../Header_-_logged_in_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:887px;
    top:10px;
    width:60px;
    height:16px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:22px;
}

.u6 {
    position:absolute;
    left:2px;
    top:2px;
    width:56px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:210px;
    top:35px;
    width:511px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u8 {
    position:absolute;
    left:210px;
    top:67px;
    width:467px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../Header_-_logged_in_files/u5_normal.png');
}

.u9_container {
    position:absolute;
    left:817px;
    top:10px;
    width:60px;
    height:16px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:22px;
}

.u10 {
    position:absolute;
    left:2px;
    top:2px;
    width:56px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../Header_-_logged_in_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:739px;
    top:10px;
    width:68px;
    height:16px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:74px;
    height:22px;
}

.u12 {
    position:absolute;
    left:2px;
    top:2px;
    width:64px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../Header_-_logged_in_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:657px;
    top:35px;
    width:64px;
    height:25px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:70px;
    height:31px;
}

.u14 {
    position:absolute;
    left:2px;
    top:5px;
    width:60px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:963px;
    height:103px;
    
}

.u16_normal {
    background-image: url('../Header_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:0px;
    top:0px;
    width:960px;
    height:100px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:966px;
    height:106px;
}

.u17 {
    position:absolute;
    left:2px;
    top:42px;
    width:956px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../Header_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:10px;
    top:10px;
    width:180px;
    height:80px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:86px;
}

.u19 {
    position:absolute;
    left:2px;
    top:32px;
    width:176px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../Header_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:887px;
    top:10px;
    width:60px;
    height:19px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:25px;
}

.u21 {
    position:absolute;
    left:2px;
    top:4px;
    width:56px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:210px;
    top:35px;
    width:511px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u23 {
    position:absolute;
    left:210px;
    top:67px;
    width:467px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../Header_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:657px;
    top:35px;
    width:64px;
    height:25px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:70px;
    height:31px;
}

.u25 {
    position:absolute;
    left:2px;
    top:5px;
    width:60px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../Footer_files/u28_normal.png');
}

.u28_container {
    position:absolute;
    left:0px;
    top:1141px;
    width:960px;
    height:67px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:966px;
    height:73px;
}

.u29 {
    position:absolute;
    left:2px;
    top:26px;
    width:956px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u31 {
    position:absolute;
    left:0px;
    top:0px;
    width:1373px;
    height:771px;
    overflow:hidden;
}

#pd0u31 {
    position:absolute;
    left:0px;
    top:0px;
    width:1373px;
    height:771px;
    
}

.u32_normal {
    background-image: url('../Home_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1331px;
    height:768px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1337px;
    height:774px;
}

.u33 {
    position:absolute;
    left:2px;
    top:376px;
    width:1327px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../Home_files/u34_normal.png');
}

.u34_container {
    position:absolute;
    left:253px;
    top:121px;
    width:658px;
    height:347px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:664px;
    height:353px;
}

.u35 {
    position:absolute;
    left:2px;
    top:166px;
    width:654px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:273px;
    top:142px;
    width:150px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../Home_files/u37_normal.png');
}

.u37_container {
    position:absolute;
    left:273px;
    top:175px;
    width:238px;
    height:267px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:244px;
    height:273px;
}

.u38 {
    position:absolute;
    left:2px;
    top:126px;
    width:234px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:628px;
    top:173px;
    width:81px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u40 {
    position:absolute;
    left:550px;
    top:178px;
    width:68px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:550px;
    top:213px;
    width:68px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:628px;
    top:207px;
    width:81px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u43_normal {
    background-image: url('../Home_files/u43_normal.png');
}

.u43_container {
    position:absolute;
    left:536px;
    top:248px;
    width:325px;
    height:124px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:331px;
    height:130px;
}

.u44 {
    position:absolute;
    left:2px;
    top:54px;
    width:321px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:550px;
    top:266px;
    width:104px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:734px;
    top:266px;
    width:68px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:734px;
    top:290px;
    width:68px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:734px;
    top:314px;
    width:96px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:550px;
    top:320px;
    width:104px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:550px;
    top:291px;
    width:104px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:550px;
    top:342px;
    width:104px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:802px;
    top:266px;
    width:68px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:802px;
    top:290px;
    width:68px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:802px;
    top:314px;
    width:68px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:289px;
    top:188px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:719px;
    top:210px;
    width:94px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:719px;
    top:178px;
    width:94px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:536px;
    top:407px;
    width:154px;
    height:35px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 16px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u59 {
    position:absolute;
    left:707px;
    top:407px;
    width:154px;
    height:35px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 16px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u60 {
    position:absolute;
    left:538px;
    top:375px;
    width:127px;
    height:11px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../Home_files/u61_normal.png');
}

.u61_container {
    position:absolute;
    left:0px;
    top:133px;
    width:960px;
    height:970px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:966px;
    height:976px;
}

.u62 {
    position:absolute;
    left:2px;
    top:477px;
    width:956px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_selected {
    background-image: url('../Main_Nav_files/upcoming_tab_u63_selected.png');
}

.u63_normal {
    background-image: url('../Main_Nav_files/upcoming_tab_u63_normal.png');
}

.u63_container {
    position:absolute;
    left:380px;
    top:100px;
    width:189px;
    height:34px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:195px;
    height:40px;
}

.u64 {
    position:absolute;
    left:2px;
    top:8px;
    width:185px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_selected {
    background-image: url('../Main_Nav_files/price_history_tab_u65_selected.png');
}

.u65_normal {
    background-image: url('../Main_Nav_files/price_history_tab_u65_normal.png');
}

.u65_container {
    position:absolute;
    left:569px;
    top:100px;
    width:196px;
    height:34px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:202px;
    height:40px;
}

.u66 {
    position:absolute;
    left:2px;
    top:8px;
    width:192px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u67 {
    position:absolute;
    left:765px;
    top:100px;
    width:196px;
    height:35px;
    overflow:hidden;
}

#pd0u67 {
    position:absolute;
    left:0px;
    top:0px;
    width:196px;
    height:35px;
    
}

.u68_selected {
    background-image: url('../Main_Nav_files/my_account_tab_u68_selected.png');
}

.u68_normal {
    background-image: url('../Main_Nav_files/my_account_tab_u68_normal.png');
}

.u68_container {
    position:absolute;
    left:0px;
    top:0px;
    width:195px;
    height:34px;
}

#u68_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:201px;
    height:40px;
}

.u69 {
    position:absolute;
    left:2px;
    top:8px;
    width:191px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_selected {
    background-image: url('../Main_Nav_files/now_bidding_tab_u70_selected.png');
}

.u70_normal {
    background-image: url('../Main_Nav_files/now_bidding_tab_u70_normal.png');
}

.u70_container {
    position:absolute;
    left:189px;
    top:100px;
    width:191px;
    height:34px;
}

#u70_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:197px;
    height:40px;
}

.u71 {
    position:absolute;
    left:2px;
    top:8px;
    width:187px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_selected {
    background-image: url('../Main_Nav_files/upcoming_tab_u63_selected.png');
}

.u72_normal {
    background-image: url('../Main_Nav_files/upcoming_tab_u63_normal.png');
}

.u72_container {
    position:absolute;
    left:0px;
    top:100px;
    width:189px;
    height:34px;
}

#u72_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:195px;
    height:40px;
}

.u73 {
    position:absolute;
    left:2px;
    top:8px;
    width:185px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../Home_files/u75_normal.png');
}

.u75_container {
    position:absolute;
    left:10px;
    top:150px;
    width:400px;
    height:275px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:406px;
    height:281px;
}

.u76 {
    position:absolute;
    left:2px;
    top:130px;
    width:396px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../Home_files/u77_normal.png');
}

.u77_container {
    position:absolute;
    left:410px;
    top:150px;
    width:220px;
    height:138px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:144px;
}

.u78 {
    position:absolute;
    left:2px;
    top:61px;
    width:216px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_normal {
    background-image: url('../Home_files/u77_normal.png');
}

.u79_container {
    position:absolute;
    left:410px;
    top:288px;
    width:220px;
    height:138px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:144px;
}

.u80 {
    position:absolute;
    left:2px;
    top:61px;
    width:216px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_normal {
    background-image: url('../Home_files/u81_normal.png');
}

.u81_container {
    position:absolute;
    left:650px;
    top:150px;
    width:300px;
    height:198px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:204px;
}

.u82 {
    position:absolute;
    left:2px;
    top:91px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('../Home_files/u83_normal.png');
}

.u83_container {
    position:absolute;
    left:12px;
    top:460px;
    width:52px;
    height:17px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:58px;
    height:23px;
}

.u84 {
    position:absolute;
    left:2px;
    top:2px;
    width:48px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_normal {
    background-image: url('../Home_files/u85_normal.png');
}

.u85_container {
    position:absolute;
    left:73px;
    top:460px;
    width:65px;
    height:17px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:71px;
    height:23px;
}

.u86 {
    position:absolute;
    left:2px;
    top:2px;
    width:61px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../Home_files/u85_normal.png');
}

.u87_container {
    position:absolute;
    left:146px;
    top:460px;
    width:65px;
    height:17px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:71px;
    height:23px;
}

.u88 {
    position:absolute;
    left:2px;
    top:2px;
    width:61px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_normal {
    background-image: url('../Home_files/u85_normal.png');
}

.u89_container {
    position:absolute;
    left:220px;
    top:460px;
    width:65px;
    height:17px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:71px;
    height:23px;
}

.u90 {
    position:absolute;
    left:2px;
    top:2px;
    width:61px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_normal {
    background-image: url('../Home_files/u85_normal.png');
}

.u91_container {
    position:absolute;
    left:294px;
    top:460px;
    width:65px;
    height:17px;
}

#u91_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:71px;
    height:23px;
}

.u92 {
    position:absolute;
    left:2px;
    top:2px;
    width:61px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93 {
    position:absolute;
    left:662px;
    top:161px;
    width:78px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94 {
    position:absolute;
    left:826px;
    top:161px;
    width:53px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95 {
    position:absolute;
    left:879px;
    top:161px;
    width:52px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96 {
    position:absolute;
    left:662px;
    top:271px;
    width:144px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_line {
    background-image: url('../Home_files/u97_line.png');
}

.u97_line {
    position:absolute;
    left:0px;
    top:4px;
    width:280px;
    height:3px;
}

.u97 {
    position:absolute;
    left:660px;
    top:180px;
    width:280px;
    height:10px;
    
}

.u98 {
    position:absolute;
    left:826px;
    top:271px;
    width:53px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99 {
    position:absolute;
    left:879px;
    top:271px;
    width:52px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100 {
    position:absolute;
    left:662px;
    top:296px;
    width:144px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101 {
    position:absolute;
    left:826px;
    top:296px;
    width:53px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102 {
    position:absolute;
    left:879px;
    top:296px;
    width:52px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103 {
    position:absolute;
    left:662px;
    top:321px;
    width:144px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104 {
    position:absolute;
    left:826px;
    top:321px;
    width:53px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105 {
    position:absolute;
    left:879px;
    top:321px;
    width:52px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106 {
    position:absolute;
    left:662px;
    top:197px;
    width:144px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107 {
    position:absolute;
    left:826px;
    top:197px;
    width:53px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108 {
    position:absolute;
    left:879px;
    top:197px;
    width:52px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109 {
    position:absolute;
    left:662px;
    top:222px;
    width:144px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110 {
    position:absolute;
    left:826px;
    top:222px;
    width:53px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111 {
    position:absolute;
    left:879px;
    top:222px;
    width:52px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112 {
    position:absolute;
    left:662px;
    top:247px;
    width:144px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113 {
    position:absolute;
    left:826px;
    top:247px;
    width:53px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114 {
    position:absolute;
    left:879px;
    top:247px;
    width:52px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115_normal {
    background-image: url('../Home_files/u81_normal.png');
}

.u115_container {
    position:absolute;
    left:650px;
    top:369px;
    width:300px;
    height:198px;
}

#u115_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:204px;
}

.u116 {
    position:absolute;
    left:2px;
    top:91px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117 {
    position:absolute;
    left:662px;
    top:380px;
    width:78px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118 {
    position:absolute;
    left:826px;
    top:380px;
    width:53px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119 {
    position:absolute;
    left:879px;
    top:380px;
    width:52px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120 {
    position:absolute;
    left:662px;
    top:490px;
    width:144px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121_line {
    background-image: url('../Home_files/u121_line.png');
}

.u121_line {
    position:absolute;
    left:0px;
    top:4px;
    width:280px;
    height:3px;
}

.u121 {
    position:absolute;
    left:660px;
    top:399px;
    width:280px;
    height:10px;
    
}

.u122 {
    position:absolute;
    left:826px;
    top:490px;
    width:53px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123 {
    position:absolute;
    left:879px;
    top:490px;
    width:52px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124 {
    position:absolute;
    left:662px;
    top:515px;
    width:144px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125 {
    position:absolute;
    left:826px;
    top:515px;
    width:53px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126 {
    position:absolute;
    left:879px;
    top:515px;
    width:52px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127 {
    position:absolute;
    left:662px;
    top:540px;
    width:144px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128 {
    position:absolute;
    left:826px;
    top:540px;
    width:53px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129 {
    position:absolute;
    left:879px;
    top:540px;
    width:52px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130 {
    position:absolute;
    left:662px;
    top:416px;
    width:144px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131 {
    position:absolute;
    left:826px;
    top:416px;
    width:53px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132 {
    position:absolute;
    left:879px;
    top:416px;
    width:52px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133 {
    position:absolute;
    left:662px;
    top:441px;
    width:144px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134 {
    position:absolute;
    left:826px;
    top:441px;
    width:53px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135 {
    position:absolute;
    left:879px;
    top:441px;
    width:52px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136 {
    position:absolute;
    left:662px;
    top:466px;
    width:144px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u137 {
    position:absolute;
    left:826px;
    top:466px;
    width:53px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u138 {
    position:absolute;
    left:879px;
    top:466px;
    width:52px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139_normal {
    background-image: url('../Home_files/u81_normal.png');
}

.u139_container {
    position:absolute;
    left:650px;
    top:588px;
    width:300px;
    height:198px;
}

#u139_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:204px;
}

.u140 {
    position:absolute;
    left:2px;
    top:91px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u141 {
    position:absolute;
    left:662px;
    top:599px;
    width:78px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142 {
    position:absolute;
    left:816px;
    top:599px;
    width:53px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u143 {
    position:absolute;
    left:864px;
    top:599px;
    width:43px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144 {
    position:absolute;
    left:662px;
    top:709px;
    width:144px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u145_line {
    background-image: url('../Home_files/u145_line.png');
}

.u145_line {
    position:absolute;
    left:0px;
    top:4px;
    width:280px;
    height:3px;
}

.u145 {
    position:absolute;
    left:660px;
    top:618px;
    width:280px;
    height:10px;
    
}

.u146 {
    position:absolute;
    left:816px;
    top:709px;
    width:53px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u147 {
    position:absolute;
    left:865px;
    top:709px;
    width:45px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u148 {
    position:absolute;
    left:662px;
    top:734px;
    width:144px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u149 {
    position:absolute;
    left:816px;
    top:734px;
    width:53px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u150 {
    position:absolute;
    left:865px;
    top:734px;
    width:45px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u151 {
    position:absolute;
    left:662px;
    top:759px;
    width:144px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u152 {
    position:absolute;
    left:816px;
    top:759px;
    width:53px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u153 {
    position:absolute;
    left:865px;
    top:759px;
    width:45px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u154 {
    position:absolute;
    left:662px;
    top:635px;
    width:144px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u155 {
    position:absolute;
    left:816px;
    top:635px;
    width:53px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u156 {
    position:absolute;
    left:865px;
    top:635px;
    width:45px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u157 {
    position:absolute;
    left:662px;
    top:660px;
    width:144px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u158 {
    position:absolute;
    left:816px;
    top:660px;
    width:53px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u159 {
    position:absolute;
    left:865px;
    top:660px;
    width:45px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u160 {
    position:absolute;
    left:662px;
    top:685px;
    width:144px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u161 {
    position:absolute;
    left:816px;
    top:685px;
    width:53px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u162 {
    position:absolute;
    left:865px;
    top:685px;
    width:45px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u163 {
    position:absolute;
    left:912px;
    top:599px;
    width:31px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u164 {
    position:absolute;
    left:914px;
    top:635px;
    width:31px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u165 {
    position:absolute;
    left:914px;
    top:660px;
    width:31px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u166 {
    position:absolute;
    left:914px;
    top:684px;
    width:31px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u167 {
    position:absolute;
    left:914px;
    top:709px;
    width:31px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u168 {
    position:absolute;
    left:914px;
    top:734px;
    width:31px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u169 {
    position:absolute;
    left:914px;
    top:760px;
    width:31px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u170_normal {
    background-image: url('../Home_files/u81_normal.png');
}

.u170_container {
    position:absolute;
    left:650px;
    top:807px;
    width:300px;
    height:198px;
}

#u170_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:204px;
}

.u171 {
    position:absolute;
    left:2px;
    top:91px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u172 {
    position:absolute;
    left:662px;
    top:818px;
    width:78px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u173 {
    position:absolute;
    left:662px;
    top:928px;
    width:278px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u174_line {
    background-image: url('../Home_files/u174_line.png');
}

.u174_line {
    position:absolute;
    left:0px;
    top:4px;
    width:280px;
    height:3px;
}

.u174 {
    position:absolute;
    left:660px;
    top:837px;
    width:280px;
    height:10px;
    
}

.u175 {
    position:absolute;
    left:662px;
    top:953px;
    width:278px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u176 {
    position:absolute;
    left:662px;
    top:978px;
    width:278px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u177 {
    position:absolute;
    left:662px;
    top:854px;
    width:217px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u178 {
    position:absolute;
    left:662px;
    top:879px;
    width:217px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u179 {
    position:absolute;
    left:662px;
    top:904px;
    width:278px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u180 {
    position:absolute;
    left:867px;
    top:854px;
    width:73px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u181 {
    position:absolute;
    left:867px;
    top:880px;
    width:73px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u182 {
    position:absolute;
    left:867px;
    top:904px;
    width:73px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u183 {
    position:absolute;
    left:867px;
    top:928px;
    width:73px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u184 {
    position:absolute;
    left:867px;
    top:952px;
    width:73px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u185 {
    position:absolute;
    left:867px;
    top:976px;
    width:73px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u186 {
    position:absolute;
    left:428px;
    top:306px;
    width:170px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u187 {
    position:absolute;
    left:428px;
    top:169px;
    width:170px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u188 {
    position:absolute;
    left:29px;
    top:169px;
    width:299px;
    height:56px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u189_normal {
    background-image: url('../Home_files/u189_normal.png');
}

.u189_container {
    position:absolute;
    left:475px;
    top:488px;
    width:155px;
    height:141px;
}

#u189_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:161px;
    height:147px;
}

.u190 {
    position:absolute;
    left:2px;
    top:62px;
    width:151px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u191_normal {
    background-image: url('../Home_files/u189_normal.png');
}

.u191_container {
    position:absolute;
    left:320px;
    top:488px;
    width:155px;
    height:141px;
}

#u191_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:161px;
    height:147px;
}

.u192 {
    position:absolute;
    left:2px;
    top:62px;
    width:151px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u193_normal {
    background-image: url('../Home_files/u189_normal.png');
}

.u193_container {
    position:absolute;
    left:475px;
    top:629px;
    width:155px;
    height:141px;
}

#u193_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:161px;
    height:147px;
}

.u194 {
    position:absolute;
    left:2px;
    top:62px;
    width:151px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u195_normal {
    background-image: url('../Home_files/u189_normal.png');
}

.u195_container {
    position:absolute;
    left:320px;
    top:629px;
    width:155px;
    height:141px;
}

#u195_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:161px;
    height:147px;
}

.u196 {
    position:absolute;
    left:2px;
    top:62px;
    width:151px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u197_normal {
    background-image: url('../Home_files/u189_normal.png');
}

.u197_container {
    position:absolute;
    left:475px;
    top:770px;
    width:155px;
    height:141px;
}

#u197_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:161px;
    height:147px;
}

.u198 {
    position:absolute;
    left:2px;
    top:62px;
    width:151px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u199_normal {
    background-image: url('../Home_files/u189_normal.png');
}

.u199_container {
    position:absolute;
    left:320px;
    top:770px;
    width:155px;
    height:141px;
}

#u199_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:161px;
    height:147px;
}

.u200 {
    position:absolute;
    left:2px;
    top:62px;
    width:151px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u201_normal {
    background-image: url('../Home_files/u189_normal.png');
}

.u201_container {
    position:absolute;
    left:475px;
    top:911px;
    width:155px;
    height:141px;
}

#u201_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:161px;
    height:147px;
}

.u202 {
    position:absolute;
    left:2px;
    top:62px;
    width:151px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u203_normal {
    background-image: url('../Home_files/u189_normal.png');
}

.u203_container {
    position:absolute;
    left:320px;
    top:911px;
    width:155px;
    height:141px;
}

#u203_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:161px;
    height:147px;
}

.u204 {
    position:absolute;
    left:2px;
    top:62px;
    width:151px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u205_normal {
    background-image: url('../Home_files/u189_normal.png');
}

.u205_container {
    position:absolute;
    left:165px;
    top:770px;
    width:155px;
    height:141px;
}

#u205_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:161px;
    height:147px;
}

.u206 {
    position:absolute;
    left:2px;
    top:62px;
    width:151px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u207_normal {
    background-image: url('../Home_files/u189_normal.png');
}

.u207_container {
    position:absolute;
    left:10px;
    top:770px;
    width:155px;
    height:141px;
}

#u207_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:161px;
    height:147px;
}

.u208 {
    position:absolute;
    left:2px;
    top:62px;
    width:151px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u209_normal {
    background-image: url('../Home_files/u189_normal.png');
}

.u209_container {
    position:absolute;
    left:165px;
    top:911px;
    width:155px;
    height:141px;
}

#u209_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:161px;
    height:147px;
}

.u210 {
    position:absolute;
    left:2px;
    top:62px;
    width:151px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u211_normal {
    background-image: url('../Home_files/u189_normal.png');
}

.u211_container {
    position:absolute;
    left:10px;
    top:911px;
    width:155px;
    height:141px;
}

#u211_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:161px;
    height:147px;
}

.u212 {
    position:absolute;
    left:2px;
    top:62px;
    width:151px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u213_normal {
    background-image: url('../Home_files/u213_normal.png');
}

.u213_container {
    position:absolute;
    left:10px;
    top:488px;
    width:310px;
    height:282px;
}

#u213_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:316px;
    height:288px;
}

.u214 {
    position:absolute;
    left:2px;
    top:133px;
    width:306px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u215_normal {
    background-image: url('../Home_files/u215_normal.png');
}

.u215_container {
    position:absolute;
    left:10px;
    top:727px;
    width:310px;
    height:43px;
}

#u215_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:316px;
    height:49px;
}

.u216 {
    position:absolute;
    left:2px;
    top:14px;
    width:306px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u217 {
    position:absolute;
    left:20px;
    top:742px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u218 {
    position:absolute;
    left:201px;
    top:742px;
    width:109px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

